<style>
  .masthead {
    background-color: #fff; /* Add a background color to the masthead if needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow for visual separation */
    position: fixed;
    top: 0;
    margin-bottom: 50px !important;
    width: 100%;
    z-index: 1000; /* Set a high z-index to ensure it stays on top of other elements */
}

.masthead__inner-wrap {
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 10px;
}

.masthead {
    /* Your existing styles for masthead go here */
    transition: transform 0.3s ease; /* Add smooth transition effect */
}

.masthead.hide {
    transform: translateY(-100%); /* Move the masthead above the viewport */
}

</style>
{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          <span class="site-title-span">{{ site.masthead_title | default: site.title }}</span>
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        {% if site.search == true %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
