body{
    background: url(/www.LifeWithAlacrity.com/assets/images/image-background.png);
   /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.masthead__menu-item:hover{
    border: 1px solid #05A069;;
}
.greedy-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 2em;
    background: transparent;
    font-weight: bold;
    font-size: 27px;
}
.greedy-nav a {
    position: relative;
    font-weight: bold;
    font-size: 22px;
}
.greedy-nav a:hover {
    color: #0a5b3f;;
}
.introduction{
    font-size: 20px !important;
}
@media screen and (max-width: 767px) {
    #main {
        clear: both;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0em;
        padding-right: 10em;
        -webkit-animation: intro .3s both;
        animation: intro .3s both;
        max-width: 100%;
        -webkit-animation-delay: .15s;
        animation-delay: .15s;
      }
      .greedy-nav {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 2em;
        background: transparent;
        font-weight: bold;
        font-size: 1.6px;
    }
    .page .page__inner-wrap {
        float: left;
        margin-top: 1em;
        margin-left: 5rem;
        margin-right: 0;
        width: 100%;
        clear: both;
    }
}
footer{
    background: url(/assets/images/mm-single-header-orlay-fill-example.jpg);
   /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.page__footer-follow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    color: white;
  }
  .side-1{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .side-2{
    flex: 1;
    margin-left: 150px;
  }
  .side-3{
    flex: 1;
  }

  .side-first-1{
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  .side-2 span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .side-3 span {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .side-second-2{
    margin-left: 30px;
  }
  .side-second-1 button{
    width: 120px;
    height: 50px;
    background-color: #84c04e;
    border: 1px solid #3b5326;
    color: white;
    border-radius: 5px;
  }
  .side-second-1 button:hover{
    background-color: #63ab24;
  }
   .side-2 ul{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 1rem;
  }
  .side-3 ul{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 1rem;
  }
   .side-3 ul li{
   font-size: 0.7rem;
  }
  .side-3 ul li:nth-child(1){
    margin-left: 5px;
   }
   .side-2 ul li:nth-child(1){
    margin-left: 5px;
   }