body{
  background: url(/www.LifeWithAlacrity.com/assets/images/image-background.png);
 /* Full height */
height: 100%;

/* Center and scale the image nicely */

background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-size: cover;
background-position: center;
background-blend-mode: multiply;
}
.masthead__menu-item:hover{
  border: 1px solid #05A069;;
}
.greedy-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 2em;
  background: transparent;
  font-weight: bold;
  font-size: 27px;
}
.greedy-nav a {
  position: relative;
  font-weight: bold;
  font-size: 22px;
}
.greedy-nav a:hover {
  color: #0a5b3f;;
}
.greedy-nav .hidden-links{
  width: 130px;
  background-color: #252525;
  box-shadow: 4px 4px 15px #0a5b3f;
}
.greedy-nav .hidden-links a{
  font-size: 11em;
  color: #fff;
  text-align: center;
}
.greedy-nav__toggle.close:before {
opacity: 0.65;
background: #3f3f3f;
}
@media screen and (max-width: 1050px){
.author__avatar img {
max-width: 100px !important;
border-radius: 50%;
margin-top: 10px;
margin-left: 0px !important;
}
}

.wrapper .page__title{
  text-decoration: none !important;
}
.author__avatar img {
max-width: 140px;
border-radius: 50%;
margin-left: 45px;
}
.archive{
padding: 0px 70px 0px 10px !important;
}
.page__hero--overlay{
background-color: #4a9bb1c7;
background-size: cover;
background-position: center;
background-blend-mode: multiply;
color: #fff;
padding: 100px 0px 100px 100px;
}
.page__hero--overlay .wrapper a{
background-color: transparent;
color: #fff;
border: 1px solid #05A069;
margin-top: 50px;
padding: 15px 30px 15px 30px;
}
.page__hero--overlay .wrapper a:hover{
background-color: #08835834;
}
.introduction{
  font-size: 20px !important;
}
footer{
  background: url(/assets/images/mm-single-header-orlay-fill-example.jpg);
 /* Full height */
height: 100%;

/* Center and scale the image nicely */

background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-size: cover;
background-position: center;
background-blend-mode: multiply;
}
.page__footer-follow{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  color: white;
}
.side-1{
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.side-2{
  flex: 1;
  margin-left: 150px;
}
.side-3{
  flex: 1;
}

.side-first-1{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.side-2 span {
  font-size: 1.2rem;
  font-weight: bold;
}
.side-3 span {
  font-size: 1.2rem;
  font-weight: bold;
}
.side-second-2{
  margin-left: 30px;
}
.side-second-1 button{
  width: 120px;
  height: 50px;
  background-color: #84c04e;
  border: 1px solid #3b5326;
  color: white;
  border-radius: 5px;
}
.side-second-1 button:hover{
  background-color: #63ab24;
}
 .side-2 ul{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 1rem;
}
.side-3 ul{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 1rem;
}
 .side-3 ul li{
 font-size: 0.7rem;
}
.side-3 ul li:nth-child(1){
  margin-left: 5px;
 }
 .side-2 ul li:nth-child(1){
  margin-left: 5px;
 }

 .page__footer-copyright{
  font-size: 0.85rem;
  font-weight: bold;
  margin-top: 1.5rem;
 }
 .taxonomy__index a {
  background-color: #5cf9c2;
  border: 1px dashed #05A069;
  border-radius: 3px;
  padding: 0px 10px 0px 10px;
 }
 .author__avatar img {
  border: 2px solid #05A069;
 }
 /* Responsive design */

 @media screen and (max-width: 42rem) {
  .archive{
    margin: 0px -106px 0px 50px;
    padding: 0px 0px 0px 0px !important;
      
  }

  #main {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0em;
    padding-right: 5em;
    -webkit-animation: intro .3s both;
    animation: intro .3s both;
    max-width: 100%;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
    margin-left: -40px;
  }
  .greedy-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 2em;
    background: transparent;
    font-weight: bold;
    font-size: 1.6px;
}
.search__toggle {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 3rem;
  border: 0;
  outline: none;
  color: #05A069;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 1.6rem;
}
.page .page__inner-wrap {
    float: left;
    margin-top: 1em;
    margin-left: 5rem;
    margin-right: 0;
    width: 100%;
    clear: both;
}
.page__hero--overlay{
  padding: 50px 0px 50px 20px;
}
.page__hero--overlay .wrapper a{
  margin-top: 25px;
  padding: 5px 15px 5px 15px;
  }
  .page__footer-follow{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 30px;
    justify-content: space-around;
    color: white;
  }
  .author__avatar {
    display: table-cell;
    vertical-align: top;
    width: 100px;
    height: 36px;
    padding-left: 61px;
}
  .side-2{
    flex: 1;
    margin-left: 0px;
  }
  .side-3{
    flex: 1;
  }
 }
